index.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="./public/stylesheets/style.css"></head><body><div id="widget"><div class="item Freshdesk"><img src="http://www.exabytes.com.my/logo/LogoExabytes600240.gif"><div class="item-content"><div class="company-name">Exabytes</div><img src="./public/images/Freshdesk.png" class="product-logo"><div class="industry">Computer Networking</div><div class="desc">Exabytesprovides reliable and affordable Web Hosting Plan, Business Hosting Plan, Domain Registrations and more. Exabytes has over 75,000 customers (from individuals, students, small &amp; medium sized businesses, to government and public listed companies) in 121 countries and manages over 1000+ servers with 60,000 registered domains.</div><div class="sales">Sales Contact - Preethie</div><div class="presales">Presales Contact - Vishnu</div></div></div><div class="item Freshservice"><img src="http://images.tenplay.com.au/~/media/TV%20Shows/Bondi%20Vet/showpage%20assets%20S7/BondiVet_S7_Logo_500x281.jpg"><div class="item-content"><div class="company-name">Network Ten</div><img src="./public/images/Freshservice.png" class="product-logo"><div class="industry">Broadcast Media</div><div class="desc">Network Ten is one of Australia’s leading entertainment and news content companies, with assets across free-to-air television, online and digital platforms. Network Ten includes three free-to-air television channels – TEN, ELEVEN and ONE – in Australia’s five metropolitan markets of Sydney, Melbourne, Brisbane, Adelaide and Perth, plus the digital platform tenplay.</div><div class="sales">Sales Contact - Srine</div><div class="presales">Presales Contact - Vishnu</div></div></div></div></body></html>

views/index.jade
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./public/stylesheets/style.css')
  body
    #widget
      each x in items
        .item(class="#{x.product}")
          img(src="#{x.image}")
          .item-content
            .company-name #{x.name}
            img.product-logo(src="./public/images/#{x.product}.png")
            .industry #{x.industry}
            .desc #{x.description}
            .sales Sales Contact - #{x.sales}
            if x.presales
              .presales Presales Contact - #{x.presales}
